html,
body {
    padding-top: 80px;
    background-color: var(--color-6);
}

.set-titles-font {
    font-family: "SFPro", sans-serif; 
    font-weight: normal;
    font-size: 60px;
    font-style: normal;
    text-align: center;
    color:#0d78f3
}

.set-subtitles-font {
    font-family: "SFPro", sans-serif;
    font-weight: normal;
    font-size: 40px;
    font-style: normal;
    text-align: center;
    color:var(--color-3)
}

.set-text-font {
    font-weight: 100;
    font-size: 30px;
    font-style: normal;
    text-align: center;
    color:#000000
}

.main-header{
    padding: 40px 0;
    position: fixed;
    width: 100%;
    height: 15%;
    top: 0;
    left: 0;
    background-color: var(--color-9);
    z-index: 999;
    margin: 0;
    padding-top: 20px; 
}

/* Colors for light-mode */
.color-1 {
    color: #F0F2F5;
}
.color-2 {
    color: #FFFFFF;
}
.color-3 {
    color: #2C3E50;
}
.color-4 {
    color: #3498DB;
}
.color-5 {
    color: #D4D9E0;
}

/* Colors for dark-mode */
.color-6 {
    color: #1A1C2C;
}
.color-7 {
    color: #2C304A;
}
.color-8 {
    color: #8AFFB3;
}
.color-9 {
    color: #9BA1BB;
}

:root {
    --color-1: #F0F2F5;
    --color-2: #2C304A;
    --color-3: #FFFFFF;
    --color-4: #3498DB;
    --color-5: #D4D9E0;
    --color-6: #1A1C2C;
    --color-7: #2C304A;
    --color-8: #8AFFB3;
    --color-9: #9BA1BB;
}

.calc{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}