html{
    font-size: 80%;
    background-color: #1A1C2C;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif; 
    color: #2C3E50;
}

#musicWindow {
    width: 600px;
    height: 420px;
    background: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

#titleBar {
    height: 30px;
    background: #e0e0e0;
    display: flex;
    align-items: center;
    padding-left: 10px;
    position: relative;
}

#windowTitle {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0;
}

#mainArea {
    display: flex;
    height: calc(100% - 70px); 
}

#sidebar {
    width: 150px;
    background: #dcdcdc;
    padding: 10px;
    border-right: 1px solid #bbb;
}

#sidebar h4 {
    margin-top: 0;
}

#albumGrid {
    flex: 1;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.albumBox {
    background: #ffffff;
    border: 1px solid #ccc;
    text-align: center;
    padding: 5px;
    height: fit-content;
}

.albumBox:hover{
    background-color:  #c3c3c330
}

.albumImg {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
}

#playerBar {
    height: 40px;
    background: #e0e0e0;
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
    border-top: 1px solid #bbb;
}

#volumeSlider {
    width: 100px;
}



